variable "constants" {
  type = map(map(string))
  default = {
    # These are example values, rename the file to remove
    # ".sample" and update them to match your environment
    "vm" = {
      "iso_path"     = "ceph-fs:iso/talos-v1.12.0-nocloud-amd64-with-qemu-guest-agent.iso"
      "datastore_id" = "local-lvm"
      # Prefix for /dev/disk/by-id (rarely needs changes in typical Proxmox setups).
      # Example: scsi-0QEMU_QEMU_HARDDISK_drive-scsi
      "disk_by_id_prefix" = "scsi-0QEMU_QEMU_HARDDISK_drive-scsi"
    }
    "network" = {
      "net_size" = "24"
      "gateway"  = "192.168.1.1"
      "dns_servers" = "80.58.61.250,80.58.61.254"
      # Leave empty to disable
      "vlan_tag" = ""
      # Comma-separated list, leave empty to disable
      "ntp_servers" = ""
    }
    "talos" = {
      "version"           = "v1.12.0"
      "factory_image_id"  = "ce4c980550dd2ab1b17bbf2b08801c7eb59418eafe8f279833297925d67c7515"
      "cluster_name"      = "talos"
    }
  }
}
